page {
	height: 100%;
	background-color: #F8F8F8;
	font-size: 28upx;
}
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}
.ellipsis {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal
}

.ellipsis2 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.high {
	color: #FF6F78;
}
.low {
	color: #FACC14;
}
.normal {
	color: #2fc25b;
}
.mgt20 {
	margin-top: 20upx;
}
.mgb20 {
	margin-bottom: 20upx;
}
.sn-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sn-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sn-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sn-column-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sn-row {
    display: flex;
    flex-direction: row;
}
.sn-column {
    display: flex;
    flex-direction: column;
}
.refresh-view{
    overflow-y: hidden;
    position: fixed;
}
